* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.main {
  padding: 50px 5%;
  background-color: #2c3246;
  color: rgb(223, 223, 223);
}

.header h1 {
  color: steelblue;
  margin-bottom: 5px;
}

.header p {
  color: rgb(223, 223, 223);
  font-weight: 300;
}

a {
  color: skyblue;
  font-weight: 500;
  text-decoration: underline;
}

#todoContainer {
  margin-top: 40px;
  max-width: 700px;
  padding: 20px;
}

#todoContainer form {
  width: 100%;
  padding: 20px;
  border-radius: 4px;
}

#todoContainer form #formInput {
  width: 100%;
  padding: 10px 7px;
  border: none;
  outline: none;
  border-radius: 3px;
}

.addBtn {
  border: none;
  border-radius: 4px;
  padding: 4px 10px;
  margin-top: 5px;
  background-color: rgb(64, 128, 238);
  color: #fff;
  cursor: pointer;
}

#itemList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 5%;
}

.deleteBtn {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.deleteBtn:hover {
  color: tomato;
}

.editBtn {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.editBtn:hover {
  color: orange;
}

.btnContainer {
  width: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.searchInput {
  background: transparent;
  color: rgb(188, 188, 188);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgb(82, 82, 82);
  outline: none;
  margin-top: 15px;
  width: 100%;
  padding: 6px;
}

#clearAll {
  background: none;
  border: none;
  padding: 5px;
  border: 1px solid tomato;
  color: #fff;
  font-weight: 300;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

#clearAll:hover {
  border-color: red;
}

.checkedBtn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

#checkedIcon {
  display: none;
  color: yellowgreen;
}

#notCheckedIcon {
  display: block;
}

.item {
  background-color: rgb(30, 87, 202);
  padding: 10px 15px;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.toggle.item {
  background-color: rgb(17, 25, 43);
  color: rgb(85, 85, 85);
  font-weight: 300;
}

.edit-mode {
  background-color: #0a6478;
}
